# Build
target/
metastore_db/
test-output/

# Temp
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
producer/src/test/resources/ErrorRows/
producer/src/test/resources/Processed/
producer/src/test/resources/Source/
producer/src/test/resources/SuccessRows/
Postgres/



# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Misc
derby.log
